body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
    overflow: hidden;
}

#up{
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(43, 247, 202, 0.5));
    filter: blur(80px);
    animation: down 10s infinite;
}

#down{
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(245, 207, 82, 0.8), rgba(199, 10, 114));
    filter: blur(80px);
    animation: up 10s infinite;
}

#left{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(183, 253, 52, 0.8));
    filter: blur(80px);
    animation: left 30s infinite;
}

#right{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.6), rgba(199, 10, 52, 0.8));
    filter: blur(80px);
    animation: right 30s infinite;
}

@keyframes down {
    0%,100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
    
}

@keyframes up {
    0%,100%{
        bottom: -100px;
    }
    70%{
        bottom: 700px;
    }
    
}

@keyframes left {
    0%,100%{
        left: -100px;
    }
    70%{
        left: 700px;
    }
    
}

@keyframes right {
    0%,100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
    
}