body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    background-color: #FDFBEE;
}


#left{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(23, 138, 247, 0.8));
    animation: left 10s infinite;
    filter: blur(100px);
    opacity: 0.7;


}

#right{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(80deg, rgba(247, 45, 210, 0.929), rgba(204, 89, 250, 0.8));
    filter: blur(100px);
    animation: right 10s infinite;
    opacity: 0.7;

}


@keyframes left {
    0%,100%{
        left: -100px;
    }
    70%{
        left: 700px;
    }
    
}

@keyframes right {
    0%,100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
    
}